@font-face { 
    font-family: "pixer"; 
    src: url("/public/assets/fonts/PixerRegular.woff2") format("woff2"); 
    font-weight: normal; 
    font-style: normal; 
}

iframe {
  position: fixed;   /* stick to viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;      /* remove default border */
}

:root {
    --primary:#000000;
    --secondary:##615A3F;
    --tertiary:#D5C58A;
    --tertiatry-darker: #8A7F5A;
    --text-color:#111;
    --accent: #007bff;
    --white: #ffffff;
}
/* var(--primary) */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    line-height: 1.6;
    background-color: var(--white);
}

::selection{
    background: #3f3f3f;
    color: #ffffff
}

.content-wrapper {
    margin: 70px 10px 10px 10px;
}

.blog-list {
    list-style: none;
    padding: 0;
}

.blog-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.blog-item:hover {
    transition: all 0.2s ease;
    padding-left: 10px;
    background-color: #ffffff;
}


.blog-title {
    font-family: "pixer";
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    color: #0066cc;
}


.blog-meta {
    font-size: 0.9em;
    color: #a9a9a9;
}

.content-view {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
}

.back-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0px solid #0066cc;
    background-color: #ffffff;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    transform: scale(1.1);
}

.markdown-content, #blog-title {
    background: white;
    padding: 10px 5%;
    border: 0px solid #ddd;
}

.hidden {
    display: none;
}

#copyright-footer {
    display: flex;
    justify-content: flex-end;
}

#copyright-footer p {
    font: Arial, sans-serif;
    color: rgb(0, 0, 0, 0.2);
    font-size: small;
}

.controls {
    font-family: "pixer";
}

#search-label {
    padding-left: 20px; 
}


